default_host_nameserver: 1.1.1.1
host_nameservers: "{{ lookup('env', 'NAME_SERVER') | default(default_host_nameserver, True) }}"

default_proxy_server:
proxy_server:  "{{ lookup('env', 'PROXY_SERVER') | default(default_proxy_server, True) }}"

default_no_proxy_servers: ".local.net"
no_proxy_servers: "{{ lookup('env', 'NO_PROXY_SERVERS') | default(default_no_proxy_servers, True) }}"
