# start default variables
default_host_bridge: host-aio
default_ironic_bridge: ironic-aio
default_disk_pool_name: data
default_disk_pool_path: /data
default_aio_name: openstack-aio
default_aio_cpu: 4
default_build_memory: 16384
default_aio_image_filename: openstack-aio.qcow2
# end default variables

aio_build_name: "{{default_aio_name}}"
aio_image_filename: "{{ lookup('env', 'AIO_IMAGE_NAME') | default(default_aio_image_filename, True) }}"
aio_cpu_num: "{{default_aio_cpu}}"
aio_memory_mb: "{{default_build_memory}}"
build_disk_dir: "{{global_disk_pool_path}}"
ubuntu_release: bionic
global_disk_pool_name: "{{ lookup('env', 'DISK_POOL_NAME') | default(default_disk_pool_name, True) }}"
global_disk_pool_path: "{{ lookup('env', 'DISK_POOL_PATH') | default(default_disk_pool_path, True) }}"
global_host_bridge: "{{ lookup('env', 'HOST_BRIDGE') | default(default_host_bridge, True) }}"
global_ironic_bridge: "{{ lookup('env', 'IRONIC_BRIDGE') | default(default_ironic_bridge, True) }}"
ubuntu_image_name: "bionic-server-cloudimg-amd64.img"

iptable_rules:
  - name: "Allow traffic forward between {{global_ironic_bridge}} and {{global_host_bridge}}"
    in_interface: "{{global_ironic_bridge}}"
    out_interface: "{{global_host_bridge}}"
    source: 172.30.0.0/22
    destination: 192.168.10.0/24

blueprints:
  - build_name: "{{aio_build_name}}"
    build_cpu: "{{default_aio_cpu}}"
    build_memory: "{{default_build_memory}}"
    build_disk: 60G
    build_disk_pool: "{{global_disk_pool_name}}"
    build_image: "http://cloud-images.ubuntu.com/{{ubuntu_release}}/current/{{ubuntu_image_name}}"
    build_virtualization: kvm
    build_os_family: Debian
    build_fqdn: "{{aio_build_name}}"
    build_config_user_data_path: '{{ role_path}}/files/user_data_bionic'
    build_ssh_public_key_path: ~/.ssh/openstack-aio.pub
    build_network_info: true
    build_vnc_enable: false
    build_resolv:
    domain: local.net
    search: local.net
    dns: ['{{ host_nameservers }}']
    build_network_device_list:
    - device: ens2
      host_net_dev: "{{global_host_bridge}}"
      host_net_mac: 0c:c4:7a:aa:ff:f1 
      bootproto: static
      mac: 0c:c4:7a:aa:ff:f1
      address: 192.168.10.100
      netmask: 255.255.255.0
      gateway: 192.168.10.1
      domain: local.net
      nameservers:
      - '{{ host_nameservers }}'
    - device: ens3
      host_net_dev: "{{global_ironic_bridge}}"
      host_net_mac: 0c:c4:7a:aa:ff:f2
      bootproto: manual
      mac: 0c:c4:7a:aa:ff:f2
      address: 10.30.20.20
      netmask: 255.255.255.0
    block_device_list: []
    build_meta: {}
    disk_precreate: True

ironic_metal:
- name: ironic01-aio
  vbmc: 192.168.10.201
  vbmc_bridge: "{{global_host_bridge}}"
  cpu: 2
  memory: 6144
  virtualization: kvm
  fqdn: ironic01-aio
  block_pool: "{{global_disk_pool_name}}"
  network_device_list:
  - device: eth0
    host_net_dev: "{{global_ironic_bridge}}"
    host_net_mac: 0c:c4:7a:bb:ff:f1
  block_device_list:
  - device: sda
    block_size: 40
    type: file
  uefi: false
- name: ironic02-aio
  vbmc: 192.168.10.202
  vbmc_bridge: "{{global_host_bridge}}"
  cpu: 2
  memory: 6144
  virtualization: kvm
  fqdn: ironic02-aio
  block_pool: "{{global_disk_pool_name}}"
  network_device_list:
  - device: eth0
    host_net_dev: "{{global_ironic_bridge}}"
    host_net_mac: 0c:c4:7a:bb:ff:f2
  block_device_list:
  - device: sda
    block_size: 40
    type: file
  uefi: false
- name: ironic03-aio
  vbmc: 192.168.10.203
  vbmc_bridge: "{{global_host_bridge}}"
  cpu: 2
  memory: 6144
  virtualization: kvm
  fqdn: ironic03-aio
  block_pool: "{{global_disk_pool_name}}"
  network_device_list:
  - device: eth0
    host_net_dev: "{{global_ironic_bridge}}"
    host_net_mac: 0c:c4:7a:bb:ff:f3
  block_device_list:
  - device: sda
    block_size: 40
    type: file
  uefi: false
- name: ironic04-aio
  vbmc: 192.168.10.204
  vbmc_bridge: "{{global_host_bridge}}"
  cpu: 2
  memory: 6144
  virtualization: kvm
  fqdn: ironic04-aio
  block_pool: "{{global_disk_pool_name}}"
  network_device_list:
  - device: eth0
    host_net_dev: "{{global_ironic_bridge}}"
    host_net_mac: 0c:c4:7a:bb:ff:f4
  block_device_list:
  - device: sda
    block_size: 40
    type: file
  uefi: false
- name: ironic05-aio
  vbmc: 192.168.10.205
  vbmc_bridge: "{{global_host_bridge}}"
  cpu: 2
  memory: 6144
  virtualization: kvm
  fqdn: ironic05-aio
  block_pool: "{{global_disk_pool_name}}"
  network_device_list:
  - device: eth0
    host_net_dev: "{{global_ironic_bridge}}"
    host_net_mac: 0c:c4:7a:bb:ff:f5
  block_device_list:
  - device: sda
    block_size: 40
    type: file
  uefi: false
