build_disk_dir: /data/vgdata1
host_nameservers: 10.184.227.134
ubuntu_release: bionic
ubuntu_image_name: "bionic-server-cloudimg-amd64.img"
blueprints:
  - build_name: openstack-aio
    build_cpu: 4
    build_memory: 16384
    build_disk: 60G
    build_disk_pool: vgdata1
    build_image: "http://cloud-images.ubuntu.com/{{ubuntu_release}}/current/{{ubuntu_image_name}}"
    build_virtualization: kvm
    build_os_family: Debian
    build_fqdn: openstack-aio
    build_config_user_data_path: '{{ role_path}}/files/user_data_bionic'
    build_ssh_public_key_path: ~/.ssh/id_rsa.pub
    build_network_info: true
    build_vnc_enable: false
    build_resolv:
    domain: local
    search: local
    dns: ['{{ host_nameservers }}']
    build_network_device_list:
    - device: ens2
      host_net_dev: virbr0
      host_net_mac: 0c:c4:7a:aa:ff:f1 
      bootproto: static
      mac: 0c:c4:7a:aa:ff:f1
      address: 192.168.122.100
      netmask: 255.255.255.0
      gateway: 192.168.122.1
      domain: local
      nameservers:
      - '{{ host_nameservers }}'
    - device: ens3
      host_net_dev: virbr0_ironic 
      host_net_mac: 0c:c4:7a:aa:ff:f2
      bootproto: static
      mac: 0c:c4:7a:aa:ff:f2
      address: 10.30.20.20
      netmask: 255.255.255.0
    build_meta: {}
    disk_precreate: True
    block_device_list:
    - device: vdb
      block_size: 40
      type: file

ironic_metal:
- name: ironic01-aio
  vbmc: 192.168.122.200
  vbmc_bridge: virbr0
  cpu: 2
  memory: 6144
  virtualization: kvm
  fqdn: ironic01-aio
  block_pool: vgdata1
  network_device_list:
  - device: eth0
    host_net_dev: virbr0_ironic
    host_net_mac: 0c:c4:7a:bb:ff:f1
  block_device_list:
  - device: sda
    block_size: 40
    type: file
  uefi: false
- name: ironic02-aio
  vbmc: 192.168.122.201
  vbmc_bridge: virbr0
  cpu: 2
  memory: 6144
  virtualization: kvm
  fqdn: ironic02-aio
  block_pool: vgdata1
  network_device_list:
  - device: eth0
    host_net_dev: virbr0_ironic
    host_net_mac: 0c:c4:7a:bb:ff:f2
  block_device_list:
  - device: sda
    block_size: 40
    type: file
  uefi: true
- name: ironic03-aio
  vbmc: 192.168.122.203
  vbmc_bridge: virbr0
  cpu: 2
  memory: 6144
  virtualization: kvm
  fqdn: ironic03-aio
  block_pool: vgdata1
  network_device_list:
  - device: eth0
    host_net_dev: virbr0_ironic
    host_net_mac: 0c:c4:7a:bb:ff:f3
  block_device_list:
  - device: sda
    block_size: 40
    type: file
  uefi: false
- name: ironic04-aio
  vbmc: 192.168.122.204
  vbmc_bridge: virbr0
  cpu: 2
  memory: 6144
  virtualization: kvm
  fqdn: ironic04-aio
  block_pool: vgdata1
  network_device_list:
  - device: eth0
    host_net_dev: virbr0_ironic
    host_net_mac: 0c:c4:7a:bb:ff:f4
  block_device_list:
  - device: sda
    block_size: 40
    type: file
  uefi: false
- name: ironic05-aio
  vbmc: 192.168.122.205
  vbmc_bridge: virbr0
  cpu: 2
  memory: 6144
  virtualization: kvm
  fqdn: ironic05-aio
  block_pool: vgdata1
  network_device_list:
  - device: eth0
    host_net_dev: virbr0_ironic
    host_net_mac: 0c:c4:7a:bb:ff:f5
  block_device_list:
  - device: sda
    block_size: 40
    type: file
  uefi: false
